.main {
	height:600px;
}

.main .mainbox-l {
	width:266px;
	/*background: yellow;*/
}

.main .mainbox-r {
	width:784px;
	/*background: pink;*/
}
/*公益新闻模块start*/
.mainbox-news .title,
.mainbox-activity .title,
.mainbox-pro .title,
.mainbox-pioneer .title {
	height:66px;
	line-height: 66px;
}
.mainbox-news .title .title-main,
.mainbox-activity .title-main,
.mainbox-pro .title .title- ,
.mainbox-pioneer .title  .title-main{
	font-size: 20px;
}
.mainbox-news .title .title-more,
.mainbox-activity .title-more,
.mainbox-pro .title .title-more,
.mainbox-pioneer .title .title-more{
	font-size: 12px;
	color:#777;
}
.mainbox-news img,
.mainbox-pro img,
.mainbox-pioneer img {
	width:100%;
}
.mainbox-news .news-con {
	width:100%;
}
.mainbox-news .news-con li,
.mainbox-news .news-con li a{
  height:36px;
  line-height: 36px;
  font-size: 14px;
}
.news-con li:first-child a{
	font-size:16px;
	line-height: 36px;
}
/*组织活动模块start*/
.mainbox-activity .act-item{
   height:56px;
   position: relative;

}
.activity-items .item-icon {
	position: absolute;
	width:48px;
	height:48px;
}
.activity-items .item-icon1 {
	background: url("../images/act.png") 0 0;
}
.activity-items .item-icon2 {
	background: url("../images/act.png") 0 -52px;
}
.activity-items .item-icon3 {
	background: url("../images/act.png") 0 -108px;
}
.activity-items .item-icon4 {
	background: url("../images/act.png") 0 -162px;
}
.activity-items .item-icon5 {
	background: url("../images/act.png") 0 -220px;
}
.activity-items .item-icon6 {
	background: url("../images/act.png") 0 -276px;
}
.activity-items .item-icon7 {
	background: url("../images/act.png") 0 -330px;
}
.act-item .item-tro {
	padding-left:55px;
	padding-top:5px;
}
.act-item .item-tro p{
	line-height: 20px;
}


/*公益商品模块start*/
.mainbox-pro .pro-con {
	width: 100%;
}
.mainbox-pro .pro-con li {
	height:36px;
	line-height: 36px;
	clear: both;
}
/*公益先锋模块start*/
.mainbox-pioneer .pioneer-con {
	width: 100%;
}
.mainbox-pioneer .pioneer-con li {
	height:36px;
	line-height: 36px;
	clear: both;
}
 .pioneer-con li a {
 	font-size: 14px;
 }

/*右盒子内容开始*/
/*广告图模块start*/
.mainbox-r .adBox {
	margin-left:30px;
	margin-top:20px;
	width:700px;
}
.adBox img {
	width:100%;
}
/*志愿者感想模块start*/
.mainbox-think .think-title {
	height:56px;
	line-height: 56px;
	width:128px;
	padding-left: 29px;
	border-bottom: 3px solid #31c1ca;
}
.mainbox-think  .think-items {
	width:100%;
}
.think-items .think-item {
  width:100%;
  clear: both;
}
.think-item .item-img {
   width:225px;
   height:154px;
   overflow: hidden;
}
.think-item .item-img img{
	height: 100%;
	margin-left:-12%;
}
.think-item .item-con {
	padding:0 24px 13px;
	font-size:14px;
	color:#777;
	line-height: 22px;
	width:434px;
	height: 154px;
}
.think-item .item-con:first-child {
	padding-top:30px;
}
.think-item .item-con h3 {
	font-size:20px;
	line-height: 36px;
	color: #333;
}

/*分页模块start*/
.mainbox-r .mainbox-pages {
  width:300px;
  height:25px;
  margin-top:30px;
  margin-bottom:50px;
  margin-left:50%;

  clear: both;
}
.mainbox-pages a{
	float:left;
	height:25px;
	line-height: 25px;
	font-size: 14px;
	padding:0 9px;

}
.main .fix {
	width:48px;
	height:138px;
	position: fixed;
	top:50%;
	right:16.5%;
	background: red;
}
.fix .fix-top, .fix .fix-mid, .fix .fix-bot{
	width:48px;
	height: 46px;
}
.fix .fix-top {
	background:url(../images/fix.png) 0 0;
}
.fix .fix-mid {
	background:url(../images/fix.png) 0 -46px;
}
.fix .fix-bot {
	background:url(../images/fix.png) 0 -92px;
}
